<header>
  <h1>Flats</h1>
  <h3>Boas vindas ao sistema de locação de apartamentos</h3>
  <div>
    <nav>
      <%= link_to 'Cadastrar Imóvel', new_property_path %>
    </nav>
  </div>
</header>

<% if @properties.empty? %>
  <div><span>Nenhum imóvel disponível</span></div>
<% end %>

<aside>
  <h2>Filtrar por tipo:</h2>
  <nav>
    <% @property_type.each do |property_type| %>
      <% link_to property_type.name, property_type_path(property_type.id) %>
    <% end %>
  </nav> 
</aside>

<section>
  <% @properties.each do |p| %>
    <%= link_to p.title, property_path(id: p.id) %>

    <%= p.description %>
    Quartos: <%= p.rooms %>
  <% end %>
</section>

